<html>
    <head>
        <link rel="stylesheet" href="calculation.css"/>
        <title>
            Calculation
        </title>
        
    </head>
    <body>
        <nav>
            <div class="nav-links" id="navLinks">
                <i class="gg gg-close" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="../../index.html" >HOME</a></li>
                    <li><a href="../theory/theory.html">THEORY</a></li>
                    <li><a href="../about/about.html">ABOUT US</a></li>
                </ul>
            </div>
            <i class="gg gg-menu" onclick="showMenu()"></i>  
        </nav>
        
        <div class="header">
           
             <h1>Calculation</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="container">
                        <p>Input Details</p>
                        <ul class="a">
                            <li>Purchase prise</li>
                            <li>Other Cost</li>
                        </ul>
                        <p>Output Details</p>
                       <ul class="a">
                           <li>Final Cost</li>
                           <br>
                       </ul>
                       <br><br><br>
                       <a class="btn" href="../parchaseCostTable/index.html"> Find Purchase Cost</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="container">
                        <p>Input Details</p>
                        <ul class="a">
                            <li>Purchased Amount</li>
                           <li>Residual  Value</li>
                           <li>Useful Life</li>
                        </ul>
                        <p>Output Details</p>
                       <ul class="a">
                        <li>Year depreciation value</li>
                        <li>Total depreciation value </li>
                        
                       </ul>
                       <br><br>
                       <a class="btn" href="../Depreciation01/Depreciation1.html"> Find Depreciation (SLB)</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="container">
                        <p>Input Details</p>
                        <ul class="a">
                            <li>Purchased Amount</li>
                        <li>Residual  Value</li>
                        <li>Useful Life</li>
                        </ul>
                        <p>Output Details</p>
                       <ul class="a">
                        <li>Depreciation Rate</li>
                        <li>Year depreciation value</li>
                        <li>Total depreciation value </li>
                           <br>
                       </ul>
                       <a  class="btn" href="../Depreciation02/depreciation2.html">Find Depreciation (RBB)</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="container">
                        <p>Input Details</p>
                        <ul class="a">
                            <li>Purchased Amount</li>
                           <li>Residual  Value</li>
                           <li>Number of Units</li>
                           <li>Production units per year</li>
                        </ul>
                        <p>Output Details</p>
                       <ul class="a">
                        <li>Year depreciation value</li>
                        <li>Total depreciation value </li>
                           <br>
                       </ul>
                       <a class="btn" href="../Depreciation03/depreciation3.html">Find Depreciation (PUB)</a>
                    </div>
                </div>
            </div>
        </div>
        <section id="footer">
            <div class="footer-dark">
                <footer>
                    <div class="container">
                        <div class="col-md-6 item text">
                            <h4>Team Revolution</h4>
                            <p><i>Winning together</i></p>
                        </div>
                        <p class="copyright">Revolution © 2022</p>
                    </div>
                </footer>
            </div>
        </section>

    </div>
    </body>
</html>